
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.titulo{
    text-align: center;
}
.titulo2{
    text-align: center;
    padding-top: 10px;
}
.botão1{
    display: flex;
    margin: 20px auto;
    border-radius: 20px;
    padding: 12px 12px;
    background-color: black;
    color: white;
}
.imagem{
    display: flex;
    justify-content: center;
}
.navegação{
    display: flex;
    margin: 20px auto;

    justify-content: center;
}
.botão{
    border-radius: 20px;
    padding: 12px 12px;
    background-color: rgb(73, 73, 255);
    color: white;
    font-size: 120%;

}
.Maiorzinho{
    display: flex;
    margin: 20px auto;
    border-radius: 20px;
    padding: 12px 12px;
    background-color: black;
    color: white;
}
